* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.755), rgba(0, 0, 0, 0.755)),
    url(elf.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

::placeholder {
  color: #999;
}
::placeholder:disabled {
  color: #fff;
}

div {
  padding: 1rem;
  /* background-color: #bbb; */
  /* background-color: #f6f6f6; */
  overflow: hidden;
}

p {
  padding: 0.5rem 0rem;
}

input[type="text"],
textarea,
select {
  font: 17px Calibri;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="button"] {
  font: 17px Calibri;
  width: auto;
  float: right;
  cursor: pointer;
  padding: 7px;
}

input[type="radio"] {
  padding: 0.5rem;
}

input[type="text"]:disabled {
  background: #999;
  /* background: #333; */
  transition: 0.3s;
}

.main {
  width: 50%;
  margin: 0 auto;
}

.onoffspan {
  padding: 0.3rem;
}

.onoff {
  display: flex;
}

.grouped {
  border: 2px solid #555;
  margin: 1rem;
  /* padding: 0.2rem 1rem; */
  /* background-color: #222; */
}

.inGroup {
  padding: 0.1rem 2rem;
}
.inGroup input {
  width: 90%;
}

.bufftab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gktab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logintab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gmshopgroup {
  padding: 0.1rem 0;
}

/* .shoptab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* .radios {
  margin: 0 auto;
} */
/* //////////////////////////////////////////////////////////////////////////////// */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
